<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhanupura</title>
    <link href="css/style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <section class="head text-center">
        <h1>
            <p class="text-center welcomebelow">WELCOME USER</p>
        </h1>
        <h2>
            <p class="text-center welcomebelow">
                <%=heading%><br>
                    <%=headingbelow%>
            </p>
        </h2>
        <div class="imghead text-center"><img src="/img/apnabhanupura.png" class="imgheadimg"></div>


    </section>