<%- include("partials/header"); -%>
    <!-- <section class="head text-center">
        <h1>
            <p class="text-center welcomebelow">WELCOME USER</p>
        </h1>
        <h2>
            <p class="text-center welcomebelow">ग्राम प्रधान द्वारा प्रमाण पत्र निर्माण पोर्टल (ग्राम भनुपुरा)</p>
        </h2>
        <div class="imghead text-center"><img src="/img/apnabhanupura.png" class="imgheadimg"></div>


    </section> -->
    <section class="margin">
        <br>


        <br>
        <br>
        <div class="row main mt-2">
            <div class="col-5 text-center div" data-aos="fade-up-right"><a href="/main" class="fontcolor"><b>CREATE
                        PRAMAN PATRA</b></a></div>
            <div class="col-5 text-center div" data-aos="fade-up-left"><a href="/letterpad" class="fontcolor"><B>WRITE
                        ON LETTERPAD</B></a></div>
        </div>
        <div class="row main mt-2">
            <div class="col-5 text-center div" data-aos="fade-up-right"><a href="/resume" class="fontcolor"><b>CREATE
                        RESUME</b></a></div>
            <div class="col-5 text-center div" data-aos="fade-up-left"><a href="/letterpad" class="fontcolor"><B>WRITE
                        ON LETTERPAD</B></a></div>
        </div>



        <div class="row main mt-3">
            <div class="col-5 text-center div" data-aos="fade-up-right"><a href="#" class="fontcolor"><b>VILLAGE VOTER
                        LIST</b></a></div>
            <div class="col-5 text-center div" data-aos="fade-up-left"><a href="#" class="fontcolor"><B>CREATE BIO
                        DATA</B></a></div>
        </div>
        <div class="row main mt-3">
            <div class="col-5 text-center div" data-aos="fade-up-right"><a href="#" class="fontcolor"><b>DOWNLOAD PRAMAN
                        PATRA</b></a></div>
            <div class="col-5 text-center div" data-aos="fade-up-left"><a href="#" class="fontcolor"><B>IMPORTANT
                        INFORMATION</B></a></div>
        </div>

    </section>

    <div class="text-center popup">
        <header class="MuiPaper-root MuiAppBar-root MuiAppBar-positionFixed MuiAppBar-colorInherit jss61 mui-fixed MuiPaper-elevation4 text-center hiddenheader" style="height:60px;">Contact Us<a href="tel:6395980289" style="text-decoration: none;"><button class="btn btn-success call mt-5" style="display: none; font-size: 2rem;">Call Pradhan Ji</button></a></header>
    </div>
    <div class="d-flex justify-content-center">Hello</div>
    <script>
        let contact = document.getElementsByClassName("jss61")[0]
        let call = document.getElementsByClassName("call")[0]
            // let call1 = document.getElementsByClassName("call1")[0]
        console.log("hello")

        contact.addEventListener("click", () => {
            console.log("hello")
            if (contact.style.height == "60px") {
                contact.style.height = "50vh";
                call.style.display = "block"
                    // call1.style.display = "block"

            } else {
                contact.style.height = "60px"
                call.style.display = "none"
                    // call1.style.display = "none"
            }
        })
    </script>
    <%- include("partials/footer"); -%>