<%- include("partials/header"); -%>

    <section class="margin">
        <br>

        <h1>
            <p class="text-center">GENERATE CERTIFICATE/CREATE LETTERPAD</p>
        </h1>
        <h2>
            <p class="text-center">ग्राम प्रधान द्वारा प्रमाण पत्र निर्माण पोर्टल (ग्राम भनुपुरा)</p>
        </h2>
        <br>
        <br>
        <div class="row">
            <div class="col-6 text-center"><a href="/main"><button id="MyElement" class="btn btn-primary">CREATE PRAMAN PATRA</button></a></div>
            <div class="col-6 text-center"><a href="/compose"><button id="MyElement" class="btn btn-primary">WRITE ON LETTERPAD</button></a></div>
        </div>
    </section>

    <%- include("partials/footer"); -%>