<%- include("partials/header"); -%>

    <section class="margin">
        <br>

        <h1>
            <p class="text-center">GENERATE CERTIFICATE/CREATE LETTERPAD</p>
        </h1>
        <h2>
            <!-- <p class="text-center">ग्राम प्रधान द्वारा प्रमाण पत्र निर्माण पोर्टल (ग्राम भनुपुरा)</p> -->
        </h2>
        <br>
        <br>
        <div class="row main mt-2">
            <div class="col-5 text-center div"><a href="/main" class="fontcolor"><b>CREATE PRAMAN PATRA</b></a></div>
            <div class="col-5 text-center div"><a href="/compose" class="fontcolor"><B>WRITE ON LETTERPAD</B></a></div>
        </div>
        <!-- <div class="row main mt-3">
            <div class="col-5 text-center div"><a href="/main" class="fontcolor"><b>CREATE PRAMAN PATRA</b></a></div>
            <div class="col-5 text-center div"><a href="/compose" class="fontcolor"><B>WRITE ON LETTERPAD</B></a></div>
        </div>
        <div class="row main mt-3">
            <div class="col-5 text-center div"><a href="/main" class="fontcolor"><b>CREATE PRAMAN PATRA</b></a></div>
            <div class="col-5 text-center div"><a href="/compose" class="fontcolor"><B>WRITE ON LETTERPAD</B></a></div>
        </div> -->
    </section>

    <%- include("partials/footer"); -%>