<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    < <div class="row justify-content center">
        <div class="text-center">
            <br>
            <h1 class="text-center">प्रधान द्वारा प्रमाणित प्रमाण पत्र</h1><br>
            <h3 class="text-center">प्रमाणपत्र का प्रकार : मूल निवास </h3>
            <BR>
            <BR>
            <H3>प्रमाणित किया जाता है कि श्री
                <%= name%> पुत्र
                    <%= fname%> <br>
                        <BR>ग्राम भनुपुरा पोस्ट भारौल जिला फिरोज़ाबाद थाना सिरसागंज
                        <BR><br> के मूल निवासी है तथा में इनको भली भांति जनता तथा पहचानता हूँ <br>
                        <BR>इनकी जाती
                        <%= jaati%> तथा उपजती
                            <%=upjaati%> है<br>
                                <BR>
                                <BR>
                                <BR>
            </H3>
        </div><br><br>
        <div class="text-center"><button class="btn btn-primary" onclick="window.print()">Print Certificate</button></div>

        </div>




</body>

</html>