<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhanupura</title>
    <link href="css/styleresume.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

    <section class="marginresume">
        <section class="resumebody">
            <div class="row mt-5">
                <div class="col-3">
                    <div><img class="imgresume" src="img/dp.jpeg"></div>
                </div>
                <div class="col-9">
                    <section>
                        <div>
                            <textarea class="form-controlcustom text-center dpname mt-5" rows="1" placeholder="write your name here" required></textarea>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-3">
                    <div class="row">
                        <p class="heading">PERSONAL DETAILS</p>
                    </div>
                    <div class="row">
                        <p class="detailheading">Birth date</p>
                        <input type="date" class="input"></input>
                    </div>

                    <div class="row mt-3">
                        <p class="detailheading">Nationality</p>
                        <input type="text" class="input" placeholder="enter here"></input>
                    </div>

                    <div class="row mt-3">
                        <p class="detailheading">Address</p>
                        <textarea class="form-controlcustom input" rows="3" placeholder="write address here" required></textarea>
                    </div>
                    <div class="row">
                        <p class="heading">Contact</p>
                    </div>
                    <div class="row">

                        <input type="text" class="input input-group" placeholder="enter mobile number here"></input>
                    </div>
                    <div class="row mt-2">

                        <input type="emial" class="input input-group" placeholder="enter email here"></input>
                    </div>

                </div>
                <div class="col-9">
                    <section class="rightside">
                        <div class="row">
                            <p class="heading">EDUCATION</p>
                        </div>

                        <div class="row">
                            <p class="detailheading">High School</p>
                            <div class="col-8">
                                <input type="text" class="input" placeholder="enter school name here"></input>
                            </div>
                            <div class="col-3"><input type="text" class="input" placeholder="year"></input>
                            </div>

                        </div>


                        <div class="row mt-3">
                            <p class="detailheading">Intermediate</p>
                            <div class="col-8">
                                <input type="text" class="input" placeholder="enter school name here"></input>
                            </div>
                            <div class="col-3"><input type="text" class="input" placeholder="year"></input>
                            </div>

                        </div>
                        <div class="row mt-3">
                            <p class="detailheading">Graduation</p>
                            <div class="col-8">
                                <input type="text" class="input" placeholder="enter school name here"></input>
                            </div>
                            <div class="col-3"><input type="text" class="input" placeholder="year"></input>
                            </div>

                        </div>

                        <div class="row mt-3">
                            <p class="detailheading">Post Graduation</p>
                            <div class="col-8">
                                <input type="text" class="input" placeholder="enter school name here"></input>
                            </div>
                            <div class="col-3"><input type="text" class="input" placeholder="year"></input>
                            </div>

                        </div>

                        <div class="row mt-3">

                            <div class="col-6">
                                <p class="headinginputright">Hobbies</p>
                                <input type="text" class="input" placeholder=" "></input>
                                <input type="text" class="input" placeholder=" "></input>
                                <input type="text" class="input" placeholder=" "></input>
                            </div>

                            <div class="col-6">
                                <p class="headinginputright">Strength & Weekness</p><input type="text" class="input" placeholder=" "></input>
                                <input type="text" class="input" placeholder=" "></input>
                                <input type="text" class="input" placeholder=" "></input>
                            </div>

                        </div>

                        <div class="row mt-3">
                            <input type="text" class="headinginput" placeholder="Enter heading here"></input>
                            <div class="col-6">
                                <input type="text" class="input" placeholder=" "></input>
                            </div>
                            <div class="col-6"><input type="text" class="input" placeholder=" "></input>
                            </div>
                            <div class="col-6">
                                <input type="text" class="input" placeholder=" "></input>
                            </div>
                            <div class="col-6"><input type="text" class="input" placeholder=" "></input>
                            </div>
                        </div>


                        <div class="row mt-3">
                            <input type="text" class="headinginput" placeholder="Enter heading here"></input>
                            <div class="col-6">
                                <input type="text" class="input" placeholder=" "></input>
                            </div>
                            <div class="col-6"><input type="text" class="input" placeholder=" "></input>
                            </div>
                            <div class="col-6">
                                <input type="text" class="input" placeholder=" "></input>
                            </div>
                            <div class="col-6"><input type="text" class="input" placeholder=" "></input>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <input type="text" class="headinginput" placeholder="Enter Additional Details Here"></input>
                            <div>
                                <textarea class="form-controlcustom input" rows="3"></textarea>
                            </div>
                        </div>


                    </section>
                </div>
            </div>


        </section>


    </section>

    <div class="text-center mb-5 mt-3" id="notprint"><button class="btn btn-primary" onclick="window.print()">Print Resume</button></div>