<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhanupura</title>
    <link href="css/styleresume.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

    <section class="marginresume">
        <section class="resumebody">
            <div class="row mt-5">
                <div class="col-3">
                    <div><img src="images/dp.jpeg" class="imgresume"></div>
                </div>
                <div class="col-9">
                    <section>
                        <div>
                            <textarea class="form-controlcustom text-center dpname mt-5" rows="1" placeholder="write your name here" required></textarea>
                        </div>
                    </section>


                </div>
            </div>


        </section>


    </section>