                    .marginresume {
                        margin-top: 10vh;
                        margin-bottom: 10vh;
                        margin-right: auto;
                        margin-left: auto;
                        height: 297mm;
                        width: 210mm;
                        padding: 5mm;
                        box-shadow: 2px 2px 12px 2px rgb(136, 126, 126);
                    }
                    
                    .resumebody {
                        padding: 10mm;
                    }
                    
                    .imgresume {
                        border: 2px solid#D62845;
                        border-radius: 100vh;
                        width: 45mm;
                        height: 45mm;
                    }
                    
                    .form-controlcustom {
                        width: 100%;
                        padding: .375rem .75rem;
                        font-size: 0.8rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #212529;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ffffff;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border-radius: .25rem;
                        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                    }
                    
                    .dpname {
                        color: #c01e88;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 800;
                        font-size: 2.3rem;
                    }
                    
                    .heading {
                        color: rgb(79 78 78);
                        font-size: 15px;
                        font-weight: 500;
                        font-family: fantasy;
                        letter-spacing: 1px;
                    }
                    
                    .headinginput {
                        color: rgb(79 78 78);
                        font-size: 15px;
                        font-weight: 500;
                        font-family: inherit;
                        letter-spacing: 1px;
                        border: none;
                    }
                    
                    .headinginputright {
                        color: rgb(79 78 78);
                        font-size: 15px;
                        font-weight: 500;
                        font-family: fantasy;
                        letter-spacing: 1px;
                        border: none;
                        margin-bottom: 0px;
                    }
                    
                    .detailheading {
                        color: #c01e88;
                        font-size: 14px;
                        font-weight: 500;
                        font-family: inherit;
                        margin-bottom: 0px;
                    }
                    
                    .input {
                        border: 1px solid;
                        color: gray;
                        font-size: 12px;
                        width: 100%;
                    }
                    
                    .rightside {
                        padding-left: 50px;
                    }
                    
                    .points {
                        border: none;
                        color: gray;
                        font-size: 12px;
                        min-width: 10px;
                    }
                    
                    @media print {
                        .marginresume {
                            margin-top: 0mm;
                            margin-bottom: 0mm;
                            margin-right: auto;
                            margin-left: auto;
                            box-shadow: none;
                        }
                        .input {
                            border: none;
                        }
                    }