                                            .margin {
                                                margin-top: 10vh;
                                                margin-bottom: 10vh;
                                                margin-right: 25vh;
                                                margin-left: 25vh;
                                                padding: 3vh;
                                                /* border: 2px solid; */
                                                box-shadow: 2px 2px 12px 2px rgb(136, 126, 126);
                                            }
                                            
                                            .head {
                                                margin-top: 10vh;
                                                margin-bottom: 10vh;
                                                margin-right: 25vh;
                                                margin-left: 25vh;
                                                padding: 5vh;
                                                /* border: 2px solid; */
                                                box-shadow: 2px 2px 12px 2px rgb(136, 126, 126);
                                                background-image: linear-gradient( 45deg, #d3294a, #8a3981);
                                            }
                                            
                                            .welcome {
                                                font-size: 1.0rem;
                                                color: #dec2cc;
                                            }
                                            
                                            .welcomebelow {
                                                font-size: 1.2rem;
                                                color: #dec2cc;
                                                margin-bottom: 0px;
                                            }
                                            
                                            .bgcolor {
                                                background: linear-gradient(#e66465, #9198e5);
                                            }
                                            
                                            .heading {
                                                font-size: 3.5rem;
                                                font-weight: 600;
                                            }
                                            /* .MuiAppBar-positionFixed {
                                                top: 0;
                                                left: auto;
                                                right: 0;
                                                
                                            } */
                                            /* .MuiPaper-elevation4 {
                                                box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
                                            } */
                                            /* .MuiPaper-root {
                                                color: rgba(0, 0, 0, 0.87);
                                                transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                                                background-color: #fff;
                                            } */
                                            
                                            .heading2 {
                                                font-size: 2.5rem;
                                            }
                                            
                                            .pramantype {
                                                font-weight: 550;
                                                text-decoration: underline;
                                            }
                                            
                                            .hidden {
                                                display: none;
                                            }
                                            
                                            .matter {
                                                font-size: 1.7rem;
                                            }
                                            
                                            .mohar {
                                                padding-top: 4vh;
                                            }
                                            
                                            #pradhan {
                                                font-weight: 700;
                                            }
                                            
                                            #date {
                                                font-weight: 700;
                                            }
                                            /* used for letterpad */
                                            
                                            .marginletter {
                                                /* margin-top: 10vh; */
                                                margin-bottom: 10vh;
                                                margin-right: 25vh;
                                                margin-left: 25vh;
                                                box-shadow: 2px 2px 12px 2px rgb(136, 126, 126);
                                                border: 3px double;
                                            }
                                            
                                            .img {
                                                width: 10vh;
                                                height: 10vh;
                                            }
                                            
                                            .top {
                                                padding: 1.5vh 2vh 1.5vh 2vh;
                                                border-bottom: 2px dashed;
                                            }
                                            
                                            .bold {
                                                font-weight: 600;
                                                color: red;
                                            }
                                            
                                            .name {
                                                color: rgb(17 93 50);
                                                /* font-size: 1rem; */
                                            }
                                            
                                            .main {
                                                justify-content: space-between;
                                            }
                                            
                                            .div {
                                                border: 2px solid#D62845;
                                                border-radius: 4vh;
                                                height: 22vh;
                                                margin: 3vw;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                box-shadow: inset 0px .5px 2px .5px #D62845;
                                            }
                                            
                                            .fontcolor {
                                                text-decoration: none;
                                                color: #D62845;
                                            }
                                            
                                            .divresumeimg {
                                                border: 2px solid#D62845;
                                                border-radius: 100vh;
                                                margin: 3vw;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                box-shadow: inset 0px .5px 2px .5px #D62845;
                                            }
                                            
                                            .form-controlcustom {
                                                display: block;
                                                width: 100%;
                                                padding: .375rem .75rem;
                                                font-size: 0.8rem;
                                                font-weight: 400;
                                                line-height: 1.5;
                                                color: #212529;
                                                background-color: #fff;
                                                background-clip: padding-box;
                                                border: 1px solid #ffffff;
                                                -webkit-appearance: none;
                                                -moz-appearance: none;
                                                appearance: none;
                                                border-radius: .25rem;
                                                height: 55vh;
                                                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                                            }
                                            
                                            .belowhead,
                                            .top,
                                            .below {
                                                display: none;
                                            }
                                            
                                            @media (max-width: 768px) {
                                                .margin {
                                                    margin-top: 0vh;
                                                    margin-right: 0vw;
                                                    margin-left: 0vw;
                                                    margin-bottom: 0vh;
                                                    padding: 3vh;
                                                    padding-top: 35vw;
                                                    padding-bottom: 10vh;
                                                    /* border: 2px solid; */
                                                    box-shadow: none;
                                                }
                                                .marginnew {
                                                    margin-top: 0vh;
                                                    margin-right: 0vw;
                                                    margin-left: 0vw;
                                                    margin-bottom: 0vh;
                                                    padding: 3vh;
                                                    padding-top: 56vw;
                                                    padding-bottom: 10vh;
                                                    /* border: 2px solid; */
                                                    box-shadow: none;
                                                }
                                                .btnprint {
                                                    border: none;
                                                    background: none;
                                                    color: white;
                                                }
                                                .lettertop {
                                                    padding-top: 55vw;
                                                    padding-bottom: 10vh;
                                                }
                                                /* .lettertop {
                                                    padding-top: 60vw;
                                                } */
                                                .padding {
                                                    padding: 0;
                                                    padding-top: 50vw;
                                                    padding-bottom: 10vh;
                                                }
                                                /* .top {
                                                    margin-top: 50vw;
                                                } */
                                                .head {
                                                    margin-top: 0vh;
                                                    margin-bottom: 0vh;
                                                    margin-right: 0vh;
                                                    margin-left: 0vh;
                                                    background-position: bottom;
                                                    background-image: url(/img/ellipse.png);
                                                    height: 50vw;
                                                    padding: 3vh;
                                                    /* background-position-x: -9px; */
                                                    position: fixed;
                                                    width: 100%;
                                                    background-repeat: no-repeat;
                                                    box-shadow: none;
                                                    background-size: 80vh;
                                                }
                                                .imghead {
                                                    margin-top: 0vh;
                                                }
                                                .imgheadimg {
                                                    height: 16vw;
                                                }
                                                .jss61 {
                                                    top: auto;
                                                    color: #fff;
                                                    bottom: 0;
                                                    height: 60px;
                                                    display: flex;
                                                    padding: 10px;
                                                    font-size: 22px;
                                                    align-items: center;
                                                    font-weight: bold;
                                                    text-transform: none;
                                                    justify-content: center;
                                                    background-image: linear-gradient( 45deg, #d3294a, #8a3981);
                                                    position: fixed;
                                                    width: 100%;
                                                }
                                                .imgresume {
                                                    border: 2px solid#D62845;
                                                    border-radius: 100vh;
                                                    width: 20vw;
                                                    height: 20vw;
                                                }
                                                .marginletter {
                                                    /* margin-top: 60vw; */
                                                    margin-right: 2vw;
                                                    margin-left: 2vw;
                                                    margin-bottom: 2vh;
                                                    /* border: 2px solid; */
                                                    box-shadow: 2px 2px 12px 2px rgb(136, 126, 126);
                                                }
                                                .heading {
                                                    font-size: 1.6rem;
                                                    font-weight: 600;
                                                }
                                                .heading2 {
                                                    font-size: 1.2rem;
                                                }
                                                .matter {
                                                    font-size: 1.2rem;
                                                }
                                                .form-controlcustom {
                                                    height: 125mm;
                                                    padding: .5vh 1vh 1vh 1vh;
                                                }
                                                #pradhan,
                                                #sign,
                                                #date {
                                                    font-size: 1.2rem;
                                                }
                                                .paddingpatrank {
                                                    padding-left: 5vh;
                                                }
                                                .img {
                                                    width: 5vh;
                                                    height: 5vh;
                                                }
                                                .name {
                                                    font-size: 1rem;
                                                }
                                                .belowhead,
                                                .top,
                                                .below {
                                                    display: none;
                                                }
                                                .hiddenheading {
                                                    display: block;
                                                    margin-top: 50vw;
                                                }
                                            }
                                            
                                            @media print {
                                                .hiddenheader {
                                                    display: none;
                                                }
                                                #notprint {
                                                    display: none;
                                                }
                                                .lettertop {
                                                    padding-top: 0vw;
                                                }
                                                .margin {
                                                    border: 3px double;
                                                    box-shadow: none;
                                                    padding-top: 3vh;
                                                }
                                                .marginletter {
                                                    margin-top: 0mm;
                                                    margin-right: 3mm;
                                                    margin-left: 3mm;
                                                    margin-bottom: 0mm;
                                                    box-shadow: none;
                                                    /* height: 95vh; */
                                                }
                                                .heading {
                                                    font-size: 2.7rem;
                                                    font-weight: 600;
                                                }
                                                .heading2 {
                                                    font-size: 1.7rem;
                                                }
                                                .matter {
                                                    font-size: 1.2rem;
                                                }
                                                .mt-3 {
                                                    margin-top: 1vh;
                                                }
                                                .form-controlcustom {
                                                    height: 133mm;
                                                    padding: 1vh 2vh 1vh 2vh;
                                                }
                                                #pradhan,
                                                #sign {
                                                    font-size: 1rem;
                                                }
                                                .name {
                                                    font-size: 1.2rem;
                                                }
                                                .belowhead,
                                                .top,
                                                .below {
                                                    display: block;
                                                }
                                                .hiddenheading {
                                                    display: none;
                                                }
                                            }